.addBtn{
    display: inline-block;
    padding: 10px 20px;
    background-color: orange transparent;
    border-radius: 10px;
    color: orange;
    transition: .4s;
    border-bottom: 5px solid orange;
}

.addBtn:hover{
    background-color: orange;
    color: white;
    
}