#featured-part{
    background: url(../../../assets/Featured_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 10px;
    position: relative;
    z-index: 1;
    background-attachment: fixed;

}

#featured-part .overlay{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.568);
    position: absolute;
    z-index: -1;
    
}

#featured-part .image{
    position: relative;
}

#featured-part .image .img2 {
    position: absolute;
    bottom: -71px;
    right: -122px;
}